<div class="flex flex-col items-center justify-center gap-8 min-h-screen">
  <div class="flex items-center justify-center gap-8">

    @let u1 = user1();
    @let u2 = user2();
    @if (u1 && u2) {
      <app-user-card [user]="u1"/>
      <ng-icon hlm size='sm' name="lucideSwords"/>
      <app-user-card [user]="u2"/>
    } @else {
      <p class="text-gray-500">Lade Benutzerinformationen...</p>
    }
  </div>
  @let game = currentGame();
  @if (game) {
    <app-game-card [gameCardData]="game"/>
  } @else {
    <p class="text-gray-500">Lade Spieldaten...</p>
  }

  <div class="w-[800px] mt-8 space-y-4">
    <div>
      <h4 class="text-sm font-semibold mb-2">Ihre Bewertung: {{ userRating() }}/10</h4>
      <div class="flex flex-row items-center justify-between *:m-4">
        <ng-icon hlm size="sm" name="lucideThumbsDown"></ng-icon>
        <brn-slider
          [min]="0"
          [max]="10"
          [step]="1"
          [(ngModel)]="userRating"
          class="w-full"
          hlm>
        </brn-slider>
        <ng-icon hlm size="sm" name="lucideThumbsUp"></ng-icon>
      </div>

    </div>
    <div class="flex items-center justify-center">
      <button hlmBtn variant="default" (click)="submitRating()">Bewertung abschicken</button>
    </div>
  </div>
</div>
